@import "tailwindcss";

h1 {
    @apply text-3xl font-bold text-black;
}
h2 {
    @apply text-2xl font-bold text-black;
}
h3 {
    @apply text-xl font-bold text-black;
}

p {
    @apply mb-2;
}

body {
    @apply font-sans text-base text-gray-800;
}

.container {
    @apply w-full max-w-[1400px] mx-auto;
}

.btn-light {
    @apply bg-white text-gray-900 hover:bg-gray-100;
}
.btn-transparent {
    @apply bg-transparent text-gray-900 hover:bg-gray-100 !shadow-none;
}
.btn-dark {
    @apply bg-gray-800 text-white hover:bg-gray-700;
}
.btn-primary {
    @apply bg-emerald-700 text-white hover:bg-emerald-800;
}
.btn-secondary {
    @apply bg-gray-300 text-gray-900 hover:bg-gray-400;
}

[class^="btn-"] {
    @apply transition-colors duration-200 ease-in-out cursor-pointer rounded-md px-3.5 py-2.5 text-sm font-semibold shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white no-underline;
}

.card {
    @apply bg-white shadow-sm rounded-md py-4 px-6 mb-4 border border-gray-200;
}

label {
    @apply text-sm font-semibold text-gray-800 pb-2;
}

input,
textarea,
select {
    @apply px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-gray-500 focus:border-gray-500 sm:text-sm;
}

input[type="color"] {
    @apply min-h-[2.5rem] px-2 py-1;
}

input[type="color"]::-webkit-color-swatch {
    @apply rounded-sm border-0;
}

*[draggable="true"] {
    @apply cursor-grab;
}

.form-group {
    @apply mb-4;
}
.form-group > * {
    @apply block w-full;
}

.model {
    @apply fixed left-[50%] top-[50%] translate-[-50%] bg-white border border-gray-200 py-4 px-6 rounded-md;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 10px 100vw rgba(0, 0, 0, 0.1);
}

.ingredient * {
    @apply transition-opacity;
}
.ingredient svg {
    @apply drop-shadow-md transition-all;
}

.ingredient.dragging svg {
    @apply drop-shadow-xl rotate-6 cursor-grabbing;
}
.ingredient.dragging h3,
.ingredient.dragging p,
.ingredient.dragging form {
    @apply opacity-15;
}

.paint-bucket,
.mix-machine .dropzone,
.color-grid-tile .dropzone {
    @apply outline-0 outline-dashed outline-gray-300 rounded-md transition-colors;
}
.paint-bucket.dropzone,
.mix-machine .dropzone,
.color-grid-tile .dropzone {
    @apply outline-2;
}
.paint-bucket.dropzone.dragover,
.mix-machine.dragover .dropzone,
.color-grid-tile.dragover .dropzone {
    @apply bg-gray-100 outline-gray-500;
}

@theme {
    --animate-paintshake: tilt-n-move-shaking 500ms linear infinite;

    @keyframes tilt-n-move-shaking {
        0% {
            transform: translate(0, 0) rotate(0deg);
        }
        25% {
            transform: translate(5px, 5px) rotate(15deg);
        }
        50% {
            transform: translate(0, 0) rotate(0eg);
        }
        75% {
            transform: translate(-5px, 5px) rotate(-20deg);
        }
        100% {
            transform: translate(0, 0) rotate(0deg);
        }
    }
}

progress {
    overflow: hidden;
}
progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(
            -45deg,
            transparent 33%,
            rgba(0, 0, 0, 0.1) 33%,
            rgba(0, 0, 0, 0.1) 66%,
            transparent 66%
        ),
        -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25));
    background-color: #007a55;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.color-grid-tile {
    @apply relative h-32 w-56;
}
.color-grid-tile .dropzone {
    @apply absolute inset-3 text-gray-500 grid place-items-center text-center text-sm;
}

#mixingHall.onlyOneEnabled .mix-machine:not(:first-of-type) {
    @apply pointer-events-none opacity-50 grayscale-50;
}
